@charset "utf-8";
body h1 {
	color: #FF7E00;
	font-family: "源ノ角ゴシック Code JP EL";
}
.key {
	color: #FFEFEF;
	background-color: #0A00FF;
	font-size: x-large;
}
body p img {
	border: 10px dotted #4CADFC;
}
body {
	background-repeat: no-repeat;
	background-image: url(leaf.jpg);
	background-size: 200% 500%;
}
